{% load static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token }}">

        <title>{{ app_name|default:'FS' }}</title>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/ocss/core.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ocss/icon-font.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ocss/style.css' %}">

    </head>
    <body class="login-page">
        <div class="login-header box-shadow">
        </div>
        <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Scripts -->
        <script src="{% static 'js/ojs/core.js' %}"></script>
        <script src="{% static 'js/ojs/script.min.js' %}"></script>
        <script src="{% static 'js/ojs/process.js' %}"></script>
        <script src="{% static 'js/ojs/layout-settings.js' %}"></script>
    </body>
</html>
